body {
  font-family: Arial, sans-serif;
}

form {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 5px;
  width: 100%;
}

button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
